<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
      .alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}
      .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}
      .alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}
      .close{float:right;font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.5}
      .close:focus,.close:hover{color:#000;text-decoration:none;opacity:.75}
      .close:not(:disabled):not(.disabled){cursor:pointer}
      button.close{padding:0;background-color:transparent;border:0;-webkit-appearance:none}
      .close{padding:1rem;margin:-1rem -1rem -1rem auto}
      .alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}
  </style>
  {% block head %}{% endblock %}
  <style>{% block style %}{% endblock %}</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <a href="{{ url_for('club.index', name=club.name) }}"><div class="layui-logo">松露-社团主页</div></a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="{{ url_for('user.index') }}">回到个人主页</a></li>
<!--      <li class="layui-nav-item" style="margin-left: 50px;"><a href="{{ url_for('user.logout') }}">退出登录</a></li>-->
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../static/icon.jpg" class="layui-nav-img">
          {{ current_user.name }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{{ url_for('user.user_info', id=current_user.id) }}">个人信息</a></dd>
          <dd><a href="{{ url_for('user.change_password') }}">修改密码</a></dd>
            <dd><a href="{{ url_for('user.logout') }}">退出登录</a></dd>
        </dl>
      </li>
<!--        <li class="layui-nav-item" style="margin-left: 50px; width: 125px;" lay-header-event="menuRight" lay-unselect>-->
<!--            <a href="javascript:;">消息中心&nbsp<span class="layui-badge layui-bg-black">0</span></a>-->
<!--        </li>-->
    </ul>

<!--      <li class="layui-nav-item" style="margin-left: 50px;"><a href="{{ url_for('user.logout') }}">退出登录</a></li>-->
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
            <a href="{{ url_for('club.club_info') }}">社团信息</a>
        <li class="layui-nav-item">
          <a href="{{ url_for('club.activity_info') }}">社团活动</a>
        </li>
          {% if session['role'] == 'creator' %}
          <li class="layui-nav-item">
          <a class="" href="javascript:;">社团成员</a>
          <dl class="layui-nav-child">

              <dd>
                    <dl class="layui-nav-item">
                         <dd><a  href="{{ url_for('club.add_members') }}"> 添加成员 </a></dd>
                    </dl>
              </dd>
              <dd>
                  <dl class="layui-nav-item">
                      <dd><a  href="{{ url_for('club.member_details') }}"> 成员概览 </a></dd>
                  </dl>
              </dd>
           </dl>
        </li>
          {% endif %}
          {% if session['role'] == 'member' %}
          <li class="layui-nav-item">
          <a href="{{ url_for('club.member_details') }}">成员概览</a>
            </li>
          {% endif %}
        {% if session['role'] == 'creator' %}
<!--        <li class="layui-nav-item">-->
<!--          <a href="{{ url_for('club.mem_complaint_history') }}">成员反馈</a>-->
<!--        </li>-->
        {% endif %}}
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-card layui-row layui-col-space10" style="margin:15px 10px;width:100%;">
<!--        {% for message in get_flashed_messages() %}-->
<!--        <div class="alert alert-warning">-->
<!--            <button type="button" class="close" data-dismiss="alert">&times;</button>-->
<!--                {{ message }}-->
<!--        </div>-->
<!--        {% endfor %}-->

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
            <!--        <button type="button" class="close" data-dismiss="alert">&times;</button>-->
                <button class="layui-btn layui-btn-xs layui-btn-primary" onclick="this.parentElement.remove()">关闭</button>
                &nbsp
                {{ message }}
            </div>
        {% endfor %}

        {% block card %}{% endblock %}
        <div class="layui-card-body">
        {% block body %}
        {% endblock %}
        </div>
    </div>
  </div>

  <div class="layui-footer">
    Copyright 2021-2022 Construct&nbsp;&nbsp;|&nbsp;&nbsp;版权所有:涂宏伟组
  </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
//JS
layui.use(['element', 'layer', 'util'], function(){
  var element = layui.element
  ,layer = layui.layer
  ,util = layui.util
  ,$ = layui.$;

  //头部事件
  util.event('lay-header-event', {
    //左侧菜单事件
    menuLeft: function(othis){
      layer.msg('展开左侧菜单的操作', {icon: 0});
    }
    ,menuRight: function(){
      layer.open({
        type: 1
        ,title: '查看消息'
        ,content: ""
        ,area: ['400px', '100%']
        ,offset: 'rt' //右上角
        ,anim: 5
        ,shadeClose: true
        ,scrollbar: true
      });
    }
  });

});
</script>

{% block script %}

{% endblock %}

</body>
</html>
