{% extends "index.html" %}

{% block title %}社团信息设置{% endblock %}

{% block card %}
    <div class="layui-card-header">
        <h2>社团信息</h2>
    </div>
{% endblock %}

{% block body %}
      <div style="text-align: left">
          <div class="layui-inline">
              <form class="layui-form" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="font-size: medium">社团名称：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ club.club_name }}" class="layui-input" style="width:100%">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="font-size: medium">社团类型：</label>
                    <div class="layui-input-block">
                        <input type="text" value="{{ club.club_type }}" class="layui-input" style="width:100%">
                    </div>
                </div>
                  <div class="layui-form-item">
                    <label class="layui-form-label" style="font-size: medium">社团描述：</label>
                      <div class="layui-input-block">
                        <input type="text" value="{{ club.club_desp }}" class="layui-input" style="width:100%">
                    </div>
                </div>


{#<div class="container-fluid">#}
{#    {% include 'manager_messages.html' %}#}
{#    <form autocomplete="off" method="POST" action="{{ url_for('creator.personalinfoscr') }}">#}
{#        <div class="form-row">#}
{#            <div class="form-group col-md-4">#}
{#              <label for="inputEmail4">社团名称</label>#}
{#              <input type="text" name="clubname" class="form-control" id="inputEmail4" value="{{ club.club_name }}">#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-row">#}
{#            <div class="form-group col-md-4">#}
{#              <label for="inputEmail4">社团类型</label>#}
{#              <input type="text" name="clubtype" class="form-control" id="inputEmail4" value="{{ club.club_type }}">#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#          <label for="inputAddress">社团描述</label>#}
{#          <input type="text" name="clubdesp" class="form-control" id="inputAddress" value="{{ club.club_desp }}">#}
{#        </div>#}
{#      </form>#}
{##}
{#</div>#}
{% endblock %}