<div class="layui-panel" style="margin: 15px;">
    <div class="layui-row" style="padding: 15px;">
        一个面板
    </div>
    <div class="layui-row" style="padding: 15px;">
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="接受" onclick="accept_join_invitation(this.value);">
        </div>
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="拒绝" onclick="accept_join_invitation(this.value);">
        </div>
    </div>
</div>

<div class="layui-panel" style="margin: 15px;">
    <div class="layui-row" style="padding: 15px;">
        一个面板
    </div>
    <div class="layui-row" style="padding: 15px;">
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="接受" onclick="accept_join_invitation(this.value);">
        </div>
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="拒绝" onclick="accept_join_invitation(this.value);">
        </div>
    </div>
</div>

<div class="layui-panel" style="margin: 15px;">
    <div class="layui-row" style="padding: 15px;">
        一个面板
    </div>
    <div class="layui-row" style="padding: 15px;">
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="接受" onclick="accept_join_invitation(this.value);">
        </div>
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="拒绝" onclick="accept_join_invitation(this.value);">
        </div>
    </div>
</div>

<div class="layui-panel" style="margin: 15px;">
    <div class="layui-row" style="padding: 15px;">
        一个面板
    </div>
    <div class="layui-row" style="padding: 15px;">
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="接受" onclick="accept_join_invitation(this.value);">
        </div>
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="拒绝" onclick="accept_join_invitation(this.value);">
        </div>
    </div>
</div>

<div class="layui-panel" style="margin: 15px;">
    <div class="layui-row" style="padding: 15px;">
        一个面板
    </div>
    <div class="layui-row" style="padding: 15px;">
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="接受" onclick="accept_join_invitation(this.value);">
        </div>
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="拒绝" onclick="accept_join_invitation(this.value);">
        </div>
    </div>
</div>

<div class="layui-panel" style="margin: 15px;">
    <div class="layui-row" style="padding: 15px;">
        一个面板
    </div>
    <div class="layui-row" style="padding: 15px;">
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="接受" onclick="accept_join_invitation(this.value);">
        </div>
        <div class="layui-col-md6" style="text-align: center;">
            <input class="layui-btn layui-btn-primary layui-btn-sm" type="button" value="拒绝" onclick="accept_join_invitation(this.value);">
        </div>
    </div>
</div>
