<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/layui/css/layui.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <style>
      .alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}
      .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}
      .alert-warning{color:#856404;background-color:#fff3cd;border-color:#ffeeba}
      .close{float:right;font-size:1.5rem;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.5}
      .close:focus,.close:hover{color:#000;text-decoration:none;opacity:.75}
      .close:not(:disabled):not(.disabled){cursor:pointer}
      button.close{padding:0;background-color:transparent;border:0;-webkit-appearance:none}
      .close{padding:1rem;margin:-1rem -1rem -1rem auto}
      .alert-dismissible .close{position:absolute;top:0;right:0;padding:.75rem 1.25rem;color:inherit}
  </style>
  {% block head %}{% endblock %}
  <style>{% block style %}{% endblock %}</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <a href="{{ url_for('main.index') }}"><div class="layui-logo">松露-社团主页</div></a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="../static/icon.jpg" class="layui-nav-img">
          {{ name }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="{{ url_for('main.user_info', id=current_user.stu_id) }}">个人信息</a></dd>
          <dd><a href="{{ url_for('main.change_password') }}">修改密码</a></dd>
        </dl>
      </li>
        <li class="layui-nav-item"><a href="{{ url_for('main.index') }}">个人主页</a></li>
      <li class="layui-nav-item"><a href="{{ url_for('main.logout') }}">退出登录</a></li>
    </ul>
  </div>

  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
          <a class="" href="javascript:;">社团管理</a>
          <dl class="layui-nav-child">
              <dd>
                  <a>我创建的</a>
                    <dl class="layui-nav-child">
                        {% for club in cclubs %}
                         <dd><a  href="{{ url_for('manager.index', name=club) }}"> {{club}} </a></dd>
                        {% endfor %}
                    </dl>
              </dd>
              <dd>
                  <a>我加入的</a>
                  <dl class="layui-nav-child">
                      {% for club in mclubs %}
                      <dd><a  href="{{ url_for('member.index', name=club) }}"> {{club}} </a></dd>
                      {% endfor %}
                  </dl>
              </dd>
           </dl>
        </li>
        <li class="layui-nav-item">
            <a href="{{ url_for('main.change_info') }}">个人信息设置</a>
        <li class="layui-nav-item">
          <a href="{{ url_for('main.new_store') }}">新建社团</a>
        </li>
        <li class="layui-nav-item">
          <a href="{{ url_for('main.borrow') }}">加入社团</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div class="layui-card layui-row layui-col-space10" style="margin:15px 10px;width:100%;">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
        </div>
        {% endfor %}
        {% block card %}{% endblock %}
        <div class="layui-card-body">
        {% block body %}
        {% endblock %}
        </div>
    </div>
  </div>

  <div class="layui-footer">
    Copyright 2021-2022 Construct&nbsp;&nbsp;|&nbsp;&nbsp;版权所有:涂宏伟组
  </div>
</div>
<script src="../static/layui/layui.js"></script>
<script>
layui.use('element', function(){
  var element = layui.element;
  element.init();
});
</script>

{% block script %}

{% endblock %}

</body>
</html>








<!--{% include 'manager_header.html' %}-->
<!--<body id="page-top">-->

<!--  &lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--  <div id="wrapper">-->

<!--    &lt;!&ndash; Sidebar &ndash;&gt;-->
<!--    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">-->

<!--      &lt;!&ndash; Sidebar - Brand &ndash;&gt;-->
<!--&lt;!&ndash;      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="sidebar-brand-icon">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="fas fa-microchip"></i>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="sidebar-brand-text mx-3">BCMS</div>&ndash;&gt;-->
<!--&lt;!&ndash;      </a>&ndash;&gt;-->

<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider my-0">-->

<!--      &lt;!&ndash; Nav Item - Dashboard &ndash;&gt;-->
<!--&lt;!&ndash;      <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link" href="index.html">&ndash;&gt;-->
<!--&lt;!&ndash;          <i class="fas fa-fw fa-tachometer-alt"></i>&ndash;&gt;-->
<!--&lt;!&ndash;          <span>{{ session['role'] ~ ' Dashboard' }}</span></a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->

<!--      &lt;!&ndash; Divider &ndash;&gt;-->
<!--      <hr class="sidebar-divider">-->



<!--     &lt;!&ndash; ************************MANAGER DASHBOARD*********************** &ndash;&gt;-->
<!--      {% if session['role'].lower() == "manager" %}-->
<!--      &lt;!&ndash; Heading &ndash;&gt;-->
<!--      &lt;!&ndash; Nav Item - Pages Collapse Menu &ndash;&gt;-->
<!--       <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="{{ url_for('manager.personalinfo') }}">-->
<!--          <span>社团信息</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="{{ url_for('manager.amenities') }}">-->
<!--          <span>活动</span>-->
<!--        </a>-->
<!--      </li>-->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#members" aria-expanded="true" aria-controls="collapseTwo">-->
<!--          <span>社团成员</span>-->
<!--        </a>-->
<!--        <div id="members" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->


<!--          <div class="bg-white py-2 collapse-inner rounded">-->
<!--&lt;!&ndash;            <a class="collapse-item" href="{{ url_for('manager.add_members') }}">添加成员</a>&ndash;&gt;-->
<!--            <a class="collapse-item" href="{{ url_for('manager.memberdetails') }}">成员概览</a>-->
<!--&lt;!&ndash;            <a class="collapse-item" href="{{ url_for('manager.managerpayments') }}">Payments</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="collapse-item" href="#">Payment History</a>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->

<!--      </li>-->



<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#employees" aria-expanded="true" aria-controls="collapseTwo">&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Employee details</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->

<!--&lt;!&ndash;        <div id="employees" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">&ndash;&gt;-->


<!--&lt;!&ndash;          <div class="bg-white py-2 collapse-inner rounded">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="collapse-item" href="{{ url_for('manager.add_employees') }}">Add employees</a>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="collapse-item" href="{{ url_for('manager.empdetails') }}">View employees</a>&ndash;&gt;-->
<!--&lt;!&ndash;            &ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;      </li>&ndash;&gt;-->


<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseTwo">-->
<!--          <span>反馈</span>-->
<!--        </a>-->
<!--        <div id="collapseFour" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">-->
<!--          <div class="bg-white py-2 collapse-inner rounded">-->
<!--            <a class="collapse-item" href="{{ url_for('manager.mem_complaint_history') }}">成员反馈</a>-->
<!--&lt;!&ndash;            <a class="collapse-item" href="{{ url_for('manager.emp_complaint_hist') }}">Employee's complaint</a>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->


<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link collapsed" href="{{ url_for('manager.approve_leaveapplications') }}">&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Leave applications</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->


<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link collapsed" href="{{ url_for('manager.mem_feedbacks') }}">&ndash;&gt;-->
<!--&lt;!&ndash;          <span>View feedback</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->


<!--&lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--&lt;!&ndash;        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseTwo">&ndash;&gt;-->
<!--&lt;!&ndash;          <span>Security</span>&ndash;&gt;-->
<!--&lt;!&ndash;        </a>&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="bg-white py-2 collapse-inner rounded">&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="collapse-item" href="{{ url_for('main.change_password') }}">Change password</a>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->


<!--      {% endif %}-->

<!--      -->

<!--      &lt;!&ndash; Sidebar Toggler (Sidebar) &ndash;&gt;-->
<!--      <div class="text-center d-none d-md-inline">-->
<!--        <button class="rounded-circle border-0" id="sidebarToggle"></button>-->
<!--      </div>-->

<!--    </ul>-->
<!--    &lt;!&ndash; End of Sidebar &ndash;&gt;-->

<!--    &lt;!&ndash; Content Wrapper &ndash;&gt;-->
<!--    <div id="content-wrapper" class="d-flex flex-column">-->

<!--      -->
<!--      &lt;!&ndash; Main Content &ndash;&gt;-->
<!--      <div id="content">-->

<!--        &lt;!&ndash; Topbar &ndash;&gt;-->
<!--        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->

<!--          &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;-->
<!--          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
<!--            <i class="fa fa-bars"></i>-->
<!--          </button>-->

<!--         -->

<!--          &lt;!&ndash; Topbar Navbar &ndash;&gt;-->
<!--          <ul class="navbar-nav ml-auto">-->


<!--            <div class="topbar-divider d-none d-sm-block"></div>-->

<!--            &lt;!&ndash; Nav Item - User Information &ndash;&gt;-->
<!--            <li class="nav-item dropdown no-arrow">-->
<!--              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ session['email'] }}</span>-->
<!--                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">-->
<!--              </a>-->
<!--              &lt;!&ndash; Dropdown - User Information &ndash;&gt;-->
<!--              <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in" aria-labelledby="userDropdown">-->
<!--&lt;!&ndash;                <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-user_templates fa-sm fa-fw mr-2 text-gray-400"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Profile&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Settings&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="dropdown-item" href="#">&ndash;&gt;-->
<!--&lt;!&ndash;                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                  Activity Log&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">-->
<!--                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                  返回个人主页-->
<!--                </a>-->
<!--              </div>-->
<!--            </li>-->

<!--          </ul>-->

<!--        </nav>-->
<!--        &lt;!&ndash; End of Topbar &ndash;&gt;-->
<!--        {% block content %}-->
<!--        &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--        &lt;!&ndash; <div class="container-fluid"> &ndash;&gt;-->

<!--          &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--          &lt;!&ndash; <div class="d-sm-flex align-items-center justify-content-between mb-4">-->
<!--            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>-->
<!--            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
<!--          </div> &ndash;&gt;-->

<!--          &lt;!&ndash; Content Row &ndash;&gt;-->
<!--          &lt;!&ndash; <div class="row"> &ndash;&gt;-->

<!--            &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--            &lt;!&ndash; <div class="col-xl-3 col-md-6 mb-4">-->
<!--              <div class="card border-left-primary shadow h-100 py-2">-->
<!--                <div class="card-body">-->
<!--                  <div class="row no-gutters align-items-center">-->
<!--                    <div class="col mr-2">-->
<!--                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>-->
<!--                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                      <i class="fas fa-calendar fa-2x text-gray-300"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div> &ndash;&gt;-->

<!--            &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--            &lt;!&ndash; <div class="col-xl-3 col-md-6 mb-4">-->
<!--              <div class="card border-left-success shadow h-100 py-2">-->
<!--                <div class="card-body">-->
<!--                  <div class="row no-gutters align-items-center">-->
<!--                    <div class="col mr-2">-->
<!--                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>-->
<!--                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div> &ndash;&gt;-->

<!--            &lt;!&ndash; Earnings (Monthly) Card Example &ndash;&gt;-->
<!--            &lt;!&ndash; <div class="col-xl-3 col-md-6 mb-4">-->
<!--              <div class="card border-left-info shadow h-100 py-2">-->
<!--                <div class="card-body">-->
<!--                  <div class="row no-gutters align-items-center">-->
<!--                    <div class="col mr-2">-->
<!--                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>-->
<!--                      <div class="row no-gutters align-items-center">-->
<!--                        <div class="col-auto">-->
<!--                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>-->
<!--                        </div>-->
<!--                        <div class="col">-->
<!--                          <div class="progress progress-sm mr-2">-->
<!--                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            Pending Requests Card Example-->
<!--            <div class="col-xl-3 col-md-6 mb-4">-->
<!--              <div class="card border-left-warning shadow h-100 py-2">-->
<!--                <div class="card-body">-->
<!--                  <div class="row no-gutters align-items-center">-->
<!--                    <div class="col mr-2">-->
<!--                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pending Requests</div>-->
<!--                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                      <i class="fas fa-comments fa-2x text-gray-300"></i>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div> &ndash;&gt;-->

<!--          &lt;!&ndash; Content Row &ndash;&gt;-->

<!--          &lt;!&ndash; <div class="row"> &ndash;&gt;-->

<!--            &lt;!&ndash; Area Chart &ndash;&gt;-->
<!--           -->

<!--            &lt;!&ndash; Pie Chart &ndash;&gt;-->
<!--            -->
<!--          &lt;!&ndash; </div> &ndash;&gt;-->

<!--          &lt;!&ndash; Content Row &ndash;&gt;-->
<!--          &lt;!&ndash; <div class="row"> &ndash;&gt;-->

<!--            &lt;!&ndash; Content Column &ndash;&gt;-->
<!--            &lt;!&ndash; <div class="col-lg-6 mb-4"> &ndash;&gt;-->

<!--              &lt;!&ndash; Project Card Example &ndash;&gt;-->
<!--              -->

<!--              &lt;!&ndash; Color System &ndash;&gt;-->
<!--              -->
<!--            &lt;!&ndash; </div> &ndash;&gt;-->

<!--           -->
<!--        &lt;!&ndash; /.container-fluid &ndash;&gt;-->

<!--      &lt;!&ndash; </div> &ndash;&gt;-->
<!--      &lt;!&ndash; End of Main Content &ndash;&gt;-->

<!--      {% endblock %}-->

<!--      &lt;!&ndash; Footer &ndash;&gt;-->
<!--      <footer class="sticky-footer bg-white">-->
<!--        <div class="container my-auto">-->
<!--          <div class="copyright text-center my-auto">-->
<!--            <span>Copyright &copy; Your Website 2020</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </footer>-->
<!--      &lt;!&ndash; End of Footer &ndash;&gt;-->

<!--    </div>-->
<!--    &lt;!&ndash; End of Content Wrapper &ndash;&gt;-->

<!--  </div>-->
<!--  &lt;!&ndash; End of Page Wrapper &ndash;&gt;-->

<!--  &lt;!&ndash; Scroll to Top Button&ndash;&gt;-->
<!--  <a class="scroll-to-top rounded" href="#page-top">-->
<!--    <i class="fas fa-angle-up"></i>-->
<!--  </a>-->

<!--  &lt;!&ndash; Logout Modal&ndash;&gt;-->
<!--  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="exampleModalLabel">要回到个人主页?</h5>-->
<!--          <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">×</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">选择 "离开"，您将会回到个人主页。</div>-->
<!--        <div class="modal-footer">-->
<!--          <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>-->
<!--          <a class="btn btn-primary" href="{{ url_for('main.index') }}">离开</a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--{% include 'manager_footer.html' %}-->