{% extends 'manager_index.html' %}
{% block content %}
<!-- {{data}} -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Manager Payments </h1>
    </div>
</div>
<div class="container-fluid">
    <form>
  <div class="row">
    <div class="col">
      <select name='PID' class="form-control" id="sel1">
        {% for p in pid %}
            <option value="{{ p['PID'] }}">{{ p['Method'] }}</option>
        {% endfor %}
    </select>
    </div>
    <div class="col">
      <select name="UID" class="form-control">
          {% for u in UID %}
            <option value="{{ u['UID'] }}">{{ u['first_name'] }}</option>
          {% endfor %}
      </select>
    </div>
  </div>
</form>
</div>
{% endblock %}