{% extends 'manager_index.html' %}

{% block title %}社团活动管理{% endblock %}

{% block card %}
    <div class="layui-card-header">
        <h2>社团信息</h2>
<!--        <button class="layui-btn layui-btn-lg" style="float:right;margin-top:-50px;margin-right:40px;" id="storage">-->
<!--            <i class="layui-icon">&#xe608;</i>新书入库-->
<!--        </button>-->
    </div>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"> 活动 </h1>
    <a href="#" data-toggle="modal" data-target="#Amenities" class="d-none d-sm-inline-block btn btn-md btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> 添加活动</a>

    <div class="modal" id="Amenities">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title"> 添加活动</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
                <form method="POST" action="{{ url_for('manager.amenities') }}">
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">名称</label>
                        <div class="col-sm-10">
                          <input type="text" name="name"  class="form-control" id="colFormLabel" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">描述 </label>
                        <div class="col-sm-10">
                          <input type="text" name="description" class="form-control" id="colFormLabel" >
                        </div>
                      </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                <button type="submit" name="insert" class="btn btn-success">提交</button>
            </div>
        </form>
      
          </div>
        </div>
      </div>
  </div>
  
</div>
<div class="container-fluid">
    <div class="table-responsive-sm">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">名称</th>
                    <th scope="col">描述</th>
                    <th scope="col">更新</th>
                    <th scope="col">删除</th>
                  </tr>
            </thead>
            <tbody>
                {% for x in data %}
                <form method="POST" action="{{ url_for('manager.amenities') }}">
                    <tr>
                        <td><input type="text" class="form-control"  name="Name" value="{{ x.act_name }}" /></td>
                        <td><input type="text" class="form-control" name="Description" value="{{ x.act_desp }}"/></td>
                        <td>
                            <button type="submit" name="update" value="{{ 'AMID' }}" class="btn btn-primary">更新</button>
                        </td>
                        <td>
                            <button type="submit" name="delete" value="{{ 'AMID' }}" class="btn btn-danger">删除</button>
                        </td>
                    </tr>            
                    </form>
                {% endfor %}
            </tbody>
        </table>
      </div>
</div>
{% endblock %}