{% extends "main_templates/base.html" %}
{% block title %}查询社团信息{% endblock %}

{% block body %}
    <br/>
    <div style="text-align: center">
        <form class="layui-form" method="post" id="searchForm">
        {{ form.csrf_token }}
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label style="font-size: medium;width: 150px;" class="layui-form-label">社团名称：</label>
                    <div class="layui-input-inline">
                        {{ form.club_name(class="layui-input", id="club_name") }}
                    </div>
                    <label style="font-size: medium;width: 80px;" class="layui-form-label">社团类型：</label>
                    <div class="layui-input-inline">
                        {{ form.club_type(class="layui-input", id="club_type") }}
                    </div>
                    <div class="layui-input-inline">{{ form.submit(class="layui-btn", id="search") }}</div>
                </div>
            </div>
        </form>

        <div>
            <div class="layui-inline">
            <table lay-even id="result" lay-filter="re" lay-data="{align:'center'}">
            <thead>
                <tr>
                  <th lay-data="{field:'club_name', width:160, align:'center'}">社团名称</th>
                  <th lay-data="{field:'club_type', width:180, align:'center'}">社团类型</th>
                  <th lay-data="{field:'club_creator', width:160, align:'center'}">创建者</th>
                  <th lay-data="{field:'club_desp', width:240, align:'center'}">社团描述</th>
                </tr>
            </thead>
              <tbody>
                {% for club in search_res %}
                  <tr>
                    <td>{{club['club_name']}}</td>
                    <td>{{club['club_type']}}</td>
                    <td>{{club['club_creator_id']}}</td>
                    <td>{{club['club_desp']}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
        </div>
    </div>
{% endblock %}
<!-- {% block script %}
    <script>
    layui.use(['form','table','jquery'], function(){
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;

        table.init('re', {
              height: 390
              ,limit: 7
              ,page: true
        });

        // $(document).ready(function(){
        //     $('#search').on('click',function () {
        //         var form = new FormData(document.getElementById("searchForm"));
        //         if($('#club_name').val() === "" && $('#club_type').val() === ""){
        //             layui.use('layer', function(){
        //                 var layer = layui.layer;
        //                 layer.msg('请填写查询内容',{time: 800});
        //             });
        //         }
        //         else{
        //             $.ajax({
        //                 type:"post",
        //                 data:form,
        //                 processData:false,
        //                 contentType:false,
        //                 success:function(data){
                            // if(data.length !== 0){
                            //     $('#remove').remove();
                            //     table.render({
                            //         elem: '#test'
                            //         ,data:data
                            //         ,cols: [[
                                        // {field:'barcode', title:'图书编号', width:160}
                                        // ,{field:'isbn', title:'ISBN', width:180}
                                        // ,{field:'book_name', title:'书名', width:240}
                                        // ,{field:'author', title:'作者', width:140}
                                        // ,{field:'press', title:'出版社', width:200}
                                        // ,{title:'操作', fixed: 'right', align:'center', toolbar: '#barDemo'}
                                //     ]]
                                //     ,page: true
                                //     ,height: 380
                                //     ,limit: 7
                                //     ,response: {
                                //         statusCode: 200
                                //     }
                                //     ,parseData: function(data){
                                //         return {
                                //             "code": 200,
                                //             "msg": data.message,
                                //             "count": data.length,
                                //             "data": data
                                //         };
                                //     }
                                // });

                            // }
                            // else {
                            //     layui.use('layer', function(){
                            //     var layer = layui.layer;
                            //
                            //     layer.msg('找不到该图书！',{time: 1000});
                            //     });
                            // }
            //             }
            //         });
            //
            //     }
            //     return false;
    //         // });
    //     });
    });
    </script>
    <script type="text/html" id="barDemo">
      <a class="layui-btn layui-btn-sm" lay-event="borr">加入</a>
    </script>
{% endblock %} -->


