<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }} | 松露</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet ">
    <link href="{{ url_for( 'static', filename='main_static/css/style.css' ) }} " rel="stylesheet ">
    <link href="{{ url_for( 'static', filename='main_static/css/profile.css' ) }} " rel="stylesheet ">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="shortcut icon " href="{{ url_for( 'static', filename='main_static/img/windmill.png' ) }} ">
</head>

<body>
<!--    <nav class="navbar navbar-default navbar-fixed-top topnav " role="navigation ">-->
<!--        <div class="container topnav ">-->
<!--            <div class="navbar-header ">-->
<!--                <button type="button " class="navbar-toggle " data-toggle="collapse " data-target="#bs-example-navbar-collapse-1 ">-->
<!--                  <span class="sr-only ">Toggle navigation</span>-->
<!--                  <span class="icon-bar "></span>-->
<!--                  <span class="icon-bar "></span>-->
<!--                  <span class="icon-bar "></span>-->
<!--              </button>-->
<!--                <a class="navbar-brand topnav homelogo" href="{{ url_for( 'main.home') }} ">松露</a>-->
<!--            </div>-->
<!--            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1 ">-->
<!--                <ul class="nav navbar-nav navbar-right">-->
<!--                    {% if current_user.is_authenticated %} {% if current_user.is_admin %}-->
<!--                    <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>-->
<!--                    <li><a href="{{ url_for('admin.list_departments') }}">Departments</a></li>-->
<!--                    <li><a href="{{ url_for('admin.list_grades') }}">Grades</a></li>-->
<!--                    <li><a href="{{ url_for('admin.list_roles') }}">Roles</a></li>-->
<!--                    <li><a href="{{ url_for('admin.list_employees') }}">Employees</a></li>-->
<!--                    {% else %}-->
<!--                    <li><a href="{{ url_for('main.home') }}">Profile</a></li>-->
<!--                    {% endif %}-->
<!--                    <li><a href="{{ url_for('user.logout') }}">Logout</a></li>-->
<!--                    <li><a><i class="fa fa-user"></i>  Hi, {{ current_user.username }}!</a></li>-->
<!--                    {% else %}-->
<!--                    <li><a href="{{ url_for('main.home') }}">主页</a></li>-->
<!--                    <li><a href="{{ url_for('main.register') }}">注册</a></li>-->
<!--                    <li><a href="{{ url_for('main.login') }}">登录</a></li>-->
<!--                    {% endif %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->
    <div class="wrapper ">
        {% block body %} {% endblock %}
        <div class="push "></div>
    </div>
    <footer>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-12">
                    <p class="copyright text-muted small text-center"> 松露 <i class="fa fa-heart pulse bluecolor"></i> 2021-2022</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
